<footer>

    <div class="container">
        <img src="../Content/Images/Ohni_Logo_Large2.fw.png">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="@Url.Action("Images", "Home")">IMAGES</a></li>
            <li><a href="@Url.Action("OCC", "Home")">OCC</a></li>
            <li><a href="@Url.Action("OCC", "Home")">OBT</a></li>
            <li><a href="@Url.Action("Referrals", "Home")">REFERRALS</a></li>
            <li><a href="@Url.Action("Whitepaper", "Home")">WHITEPAPER</a></li>
        </ul>

        <a href="https://stocks.exchange/trade/Ohni/ETH" class="get-it">Buy Ohni Here</a>

        <p class="copyright">
            &copy; OBT IS A PRODUCT OF - @DateTime.Now.Year  |  Ohni
            <a href="#" title="Ohni Legal">Legal Information</a>
        </p>
    </div>

</footer>