<footer>

    <div class="container">
        <img src="../Content/Images/logo-footer.png">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="@Url.Action("Portfolio", "Home")">PORTFOLIO</a></li>
            <li><a href="@Url.Action("About", "Home")">ABOUT</a></li>
            <li><a href="@Url.Action("Services", "Home")">SERVICES</a></li>
            <li><a href="@Url.Action("Contact", "Home")">CONTACT</a></li>
            <li><a href="@Url.Action("Blog", "Home")">BLOG</a></li>
        </ul>

        <a href="http://wiwet.com/ItemDetail/Buildr/27" class="get-it">GET IT NOW</a>

        <p class="copyright">
            &copy; ALL RIGHTS RESERVED - @DateTime.Now.Year  |  BUILDR A PREMIUM TEMPLATE  BY
            <a href="http://www.wiwet.com/" title="ASP.NET TEMPLATES">WIWET- ASP.NET TEMPLATES</a>
        </p>
    </div>

</footer>