@{
    ViewBag.Title = "Ohni";
}

@section PageStyle {
    @*You can add your custom style sheets for each page in this section.*@
}

@section PageJavaScript{
    @*You can add your custom JavaScript for each page in this section. This section will be added to the bottom of the page.*@
}

@section HeaderBody {
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-2">
                <h1 class="animated slideInDown">Ohni</h1>
                <h2 class="animated slideInUp">P2P Banking for the World<br>An Entirely New Financial System</h2>
            </div>
        </div>
    </div>
}

<section class="blog-post why-choose">
    <div class="row fadeLeftRight">
        <div class="col-sm-6 col-md-8 fadeLeftEffect">
            <img src="../Content/Images/Earth.jpg">
            <a href="#">
                <img src="../Content/Images/link.png">
                Bringing New Technology
            </a>
        </div>
        <div class="col-sm-6 col-md-4 fadeRightEffect">
            <div class="post">
                <h3>WHY CHOOSE</h3>
                <h2>OHNI</h2>
                <p>
                    Our project will deliver data through localized blockchains
                    with IOT system through mobile phones, harnessing billions of
                    devices for fluent processing. Our Ohni themselves are a cryptographic
                    representation of numbers in a series of grids with pixels inside for fast
                    processing of demand with machine learning allowing the world to see where
                    demand flows. Our project is entirely anonymous and open source and we plan
                    on rewarding people for working on our project and learning to code because
                    we believe in building it right the first time, from the ground up. Other exciting
                    features includes that Ohni Bank Token, on sale soon, to generate profits
                    for centuries to come through fractional reserve banking. Meaning that if you invest
                    right your children will be alright. Join along for the Vortex. Ohni.
                </p>
                <a href="#" class="default"><i class="fa fa-long-arrow-right"></i> ABOUT OHNI</a>
            </div>
        </div>
    </div>
</section>

<section class="benefits">
    <div class="container">
        <div class="row">
            <div class="col-md-4 fadeUpEffect wait05">
                <div class="reason">
                    <h5>
                        <img src="../Content/Images/monitor.png">
                    </h5>
                    <h4>INTEREST FREE</h4>
                    <p>
                        People with the Ohni Bank Token (OBT) will not generate money
                        with interest but rather fractional reserve banking. With Ohni
                        Consumer Coin (OCC) balances being kept on the OBT, a OBT user
                        can ask a fraction of their users for their balances, multiply them
                        and lend them out to projects for new technology, alternative energy,
                        robotics and charitable causes. Since loans are interest free, they will
                        be paid back over time.
                    </p>
                    <a href="#" class="default"><i class="fa fa-long-arrow-right"></i> SEE MORE</a>
                </div>
            </div>

            <div class="col-md-4 fadeUpEffect wait07">
                <div class="reason">
                    <h5>
                        <img src="../Content/Images/interface.png">
                    </h5>
                    <h4>THE WORLD'S FIRST AI</h4>
                    <p>
                        Since there will be a global blockchain of demand
                        on Ohni Corporate Servers (entirely anonymous),
                        in a series of images, machine learning can process
                        where demand should go. This would make Ohni the world's
                        first giant AI for humanity to decide how to save, conserve
                        and tap resources for a prosperous future. This AI will
                        be controlled and only decide on what to do with demand
                        and will not make decisions independent of humans.
                    </p>
                    <a href="#" class="default"><i class="fa fa-long-arrow-right"></i> SEE MORE</a>
                </div>
            </div>

            <div class="col-md-4 fadeUpEffect wait09">
                <div class="reason">
                    <h5>
                        <img src="../Content/Images/wrench.png">
                    </h5>
                    <h4>EVERYONE PROFITS</h4>
                    <p>
                        From the users who use their mobile processing power and data, to the miners
                        who use localized GPUs to buy and sell Ohni on the global network and OBT
                        holders, everyone will earn money through either fees or the OCC. Ohni Corporate
                        will charge a 5% fee for corporations to buy demand on behalf of Consumers
                        to enchance their local communities. There will be local and national pools of
                        OCC for consumers to vote and earn too.
                    </p>
                    <a href="#" class="default"><i class="fa fa-long-arrow-right"></i> SEE MORE</a>
                </div>
            </div>


        </div>
    </div>

    </section>

    <section class="achievements">
        <div>
            <div class="container fadeUpEffect1">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-4">
                        <h2>ACHIEVEMENTS</h2>
                        <h4>What We Did With Buildr</h4>
                    </div>
                </div>

                <div class="row fadeUpEffect1 wait1">
                    <div class="col-sm-4">
                        <h3><i class="fa fa-user"></i> Ohni Holders</h3>
                        <h1><span class="count-happy">370</span> +</h1>
                    </div>

                    <div class="col-sm-4">
                        <h3><i class="fa fa-file-text"></i> Team Members</h3>
                        <h1><span class="count-projects">20</span> +</h1>
                    </div>

                    <div class="col-sm-4">
                        <h3><i class="fa fa-share"></i> Tokens</h3>
                        <h1><span class="count-shares">9 Billion</span> </h1>
                    </div>


                </div>
            </div>
        </div>
    </section>

    <section class="offers">
        <div class="container">
            <div class="row fadeUpEffect3">
                <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                    <h2>PRINTING PRESS 2.0</h2>
                </div>
            </div>
            <div class="row fadeUpEffect3 wait1">
                <div class="col-sm-6 col-sm-offset-3">
                    <p>
                        With the capability to lend interest free with social contracts and
                        community trust taking precedence, we can inspire the best in people.
                        From Staying Off Drugs, doing Jury Duty, Volunteering, Donating and
                        Helping Your Community, YOU, can earn. We want to revolutionize money
                        and free the people. This is the Middle Class' revenge and everyone
                        can stand to profit and we can begin to prepare to leave Earth and
                        begin to colonize our Solar System. With the Ohni Financial System,
                        the largest changes in humanity can begin and hard to reach technology
                        and expensive projects can all be funded. 
                    </p>
                </div>
            </div>
            

            
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                        <div class="col-sm-6 fadeUpEffect4 wait05">
                            <div class="offer services-offer">
                                <div>
                                    <a href="@Url.Action("Services", "Home")"><h3>SERVICES</h3></a>
                                    <a href="@Url.Action("Services", "Home")"><i class="fa fa-long-arrow-right"></i> DISCOVER</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 fadeUpEffect4 wait06">
                            <div class="offer portfolio-offer">
                                <div>
                                    <a href="@Url.Action("Portfolio", "Home")"><h3>PORTFOLIO</h3></a>
                                    <a href="@Url.Action("Portfolio", "Home")"><i class="fa fa-long-arrow-right"></i> DISCOVER</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 fadeUpEffect4 wait07">
                            <div class="offer blog-offer">
                                <div>
                                    <a href="@Url.Action("Blog", "Home")"><h3>BLOG</h3></a>
                                    <a href="@Url.Action("Blog", "Home")"><i class="fa fa-long-arrow-right"></i> DISCOVER</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 fadeUpEffect4 wait08">
                            <div href="@Url.Action("UIElements", "Home")" class="offer uielements-offer">
                                <div>
                                    <a href="@Url.Action("UIElements", "Home")"><h3>UI ELEMENTS</h3></a>
                                    <a href="@Url.Action("UIElements", "Home")"><i class="fa fa-long-arrow-right"></i> DISCOVER</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    


                </div>
            </div>
         
        </div>
    </section>

    <div class="container join-buildr fadeLeftEffect wait2">
        <div class="row">
            <div class="col-sm-9 col-sm-offset-3">
                <h2>JOIN THE OHNI COMMUNITY</h2>
                <p>And Subscribe to Ohni News</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4"><input type="text" class="default-input" placeholder="Your Name"></div>
            <div class="col-sm-4"><input type="text" class="default-input" placeholder="Your Email"></div>
            <div class="col-sm-4"><button class="default-button">REGISTER</button></div>
        </div>

    </div>
